*,
*::after,
*::before{
  margin:0;
  padding:0;
  /*box-sizing: inherit;*/
}
html{
  font-size:62.5%;
}
body{
  font-family: 'Assistant', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color:  #8e7b6f;
  /*box-sizing: border-box;*/
}
