.u-center-text{
  text-align: center;
}
.u-center-divider{
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}
.u-cookie-divider{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.solid-divider-medium{
  border: .1rem solid $brown-light-color;
  background-color: $brown-light-color;
  width: 22rem;
}
.solid-divider-large{
  border: .1rem solid $brown-light-color;
  background-color: $brown-light-color;
  width: 40rem;
}
.cookie-divider{
  padding: 2rem 2rem;
}
.transition{
  height: 80rem;
  clip-path: polygon(0 25%,100% 0,100% 75%,0 100%);
}
