.button{
  &:link,
  &visited {
    text-decoration: none;
    padding: .5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    font-size: $heading-primary-font;
  }

  &-success{
    background-color: white;
    color: $pink-primary-color;
    border: 1px solid $pink-primary-color;

    &:hover{
      background-color: $pink-primary-color;
      color: #fff;
    }

    &-center{
      margin-right: 1.4rem;
    }
  }
  &-primary{
    background-color: white;
    color: $brown-light-color;
    font-weight: bold;
    border: 1px solid $brown-light-color;

    &:hover{
      background-color:  $brown-light-color;
      color: #fff;
    }

    &-center{
      margin-right: 1.4rem;
    }
  }
}
