.header{
  position: relative;
  height: 60vh;
  clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
  @media screen and (max-width: 720px){
    height: 40vh;
    width: 100%;
    padding: 0;
  }
  &_logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &_logo{
    height:12rem;
  }
  &_text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);

    @media screen and(max-width: 960px){
      top:20%;
      left:60%;
    }
  }
}
